header {
    font-weight: bold;
    padding: 5px;
}
section {
    display: flex;
}
article {
    padding: 5px;
    margin: 5px;
    background-color: #aaffaa;
    width: 810px;
}
footer {
    font-size: small;
    color: #858585;
}
.erreur{
    color: red;
}
.login{
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    width: 200px;
}
textarea{
    background-color: white;
    resize: both;
    width: 800px;
    height:500px;
    overflow: hidden;
    border: white;
}
